@import './../abstracts/variables';

//article clicked of section
.section__article--clicked {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 100%;
  max-height: 100%;
  //button-close
  .button-close{

    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: -1rem;
    
  }
  //article-description
  .article__description {
    display : grid;
    height: 100%;
    grid-template-columns: 10% 60% 10% 20%;
    grid-template-rows: 10% 60% 15% 15% 15%;
    //h2 of article description
    .title-article-clicked{
      font-size: 3rem;
      grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 2rem;
    }
    //p of article-description
    .description-article-clicked{
      font-size: 1.3rem;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
      margin-top:3rem;
      width: 70%;
    }
    //div of article-description
    .image-article-clicked{
      grid-column-start: 3;
      grid-column-end: 5;
      background-color: blue;
      grid-row-start : 1;
      grid-row-end: 5;
      width : 100%;
    }
    //button of article-description
    .button-cta{
 
    font-size: 2rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 70%;
    height: 55%;
    border-radius: 2rem;
    color: black;
    cursor: pointer;
    }
    .button-cta-health{
      background-color: $health;
    }
    .button-cta-food{
      background-color: $food;
    }
    .button-cta-garden{
      background-color: $gardening;
    }
    .button-cta-energy{
      background-color: $energy;
    }
  }

  //aside of article on section
  .sidebar-article-clicked {
    width : 35%;
    display:flex;
    flex-direction: column;
    //div of aside
    .sidebar-thematics{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      text-align:center;
      background-color: red;
      //h3 of aside
      .sidebar-title{
        margin-top: 5rem;
      }
    }
    //div of aside for health
    .sidebar-thematics-health{
      background-color: $health;
    }
    //div of aside for food
    .sidebar-thematics-food{
      background-color: $food;

    }
    //div of aside for garden
    .sidebar-thematics-garden{
      background-color: $gardening;

    }
    //div of aside for energy
    .sidebar-thematics-energy{
      background-color: $energy;

    }
  }
}


