@import './../abstracts/extends';
@import './../abstracts/variables';

.section-garden{
   width: 25%;
}

.section-garden__article--no-clicked{
  
     svg {
       margin: auto;
     }

     h2 {
       margin-bottom: 7rem;
     }

   @extend %no-clicked;
   background-color: $garden;
}
