.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $header;

  img {
    position: relative;
    margin-top: 0.5rem;
    height: 4.5vw;
  }
}
