.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $food;

  img {
    position: relative;
    margin-top: 1rem;
    height: 4rem;
  }
}
